{QUESTIONTEXT}
<div id="visualizerDiv_{ID}" style = "text-align:center;">
    <canvas id="visualizer_{ID}" height="60px"  margin-bottom: 0.5rem;"></canvas>
</div>
<div id="player" style = "text-align:center;">
	<audio id='media_{ID}' controls controlsList="nodownload" onloadeddata='showDuration_{ID}()' ></audio>
</div>
<div style = "text-align:center;">
	<div id="recordingoptions_{ID}" style = "text-align:center;"></div>
	<button class="btn btn-default" id="confirm_{ID}" type=button>{RECORD}</button>
	<button class="btn btn-default" id="pauseRes_{ID}" type=button onclick="onPauseResumeClicked_{ID}()" disabled>{PAUSE}</button>
	<button class="btn btn-default" id="stop_{ID}" type=button onclick="onBtnStopClicked_{ID}()" disabled>{FINISH}</button>
</div>
<br/>
<div id="confirmation_{ID}" style = "text-align:center; display: none;">
	<strong>{OVERRIDEWARN}</strong>
	<br/>
	<button class="btn btn-default" id="cancelBtn_{ID}" type=button onclick="">{CANCEL}</button>
	<button class="btn btn-default" id="rec_{ID}" type=button onclick="onBtnRecordClicked_{ID}()">{STARTRECORDING}</button>
</div>
<a style="display: none" id="downloadLink_{ID}" download="mediarecorder_{ID}.webm" name="mediarecorder_{ID}.webm" href></a>
<p style="display: none" id="data_{ID}"></p>

<script>
function showDuration_{ID}(){
	
	var mediDuration_{ID} = document.getElementById("media_{ID}");
	var duration_{ID} = mediDuration_{ID}.duration;
	var output_{ID} = '';
	
	if(getBrowser() == "Firefox") {
		if (!isFinite(duration_{ID}) && !isNaN(duration_{ID})){
			output_{ID} = '{MSG_RECORDINGSTARTED}';
		} else if (isNaN(duration_{ID})) {
	    	output_{ID} = '{MSG_CURRENTLYNORECORDING}';
		} else if (isFinite(duration_{ID})) {
			output_{ID} = '{MSG_EXISTING_DURATION_P1} ' + duration_{ID} + ' {MSG_EXISTING_DURATION_P2}';
		} else {
			output_{ID} = ''
		}
	} else {
		if (!isFinite(duration_{ID}) && !isNaN(duration_{ID})){
			output_{ID} = '{MSG_EXISTING_ALTERNATE}';
		} else if (isNaN(duration_{ID})) {
	    	output_{ID} = '{MSG_CURRENTLYNORECORDING}';
		}
	}
	document.getElementById("recordingoptions_{ID}").innerHTML = output_{ID};
}

//Toggle Confirmation dialog
document.getElementById("confirm_{ID}").addEventListener("click", function(){
    document.getElementById("confirmation_{ID}").style.display = "block";
});
document.getElementById("cancelBtn_{ID}").addEventListener("click", function(){
    document.getElementById("confirmation_{ID}").style.display = "none";
});

//Taken from https://jsfiddle.net/sanddune/uubnnr0w/
function convertDataURIToBinary(dataURI) {
	  var BASE64_MARKER = ';base64,';
	  var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
	  var base64 = dataURI.substring(base64Index);
	  var raw = window.atob(base64);
	  var rawLength = raw.length;
	  var array = new Uint8Array(new ArrayBuffer(rawLength));

	  for(i = 0; i < rawLength; i++) {
	    array[i] = raw.charCodeAt(i);
	  }
	  return array;
	}

$(document).ready(function(){
	var previousSolution = 'data:audio/webm;base64,' + document.getElementById('question_{ID}').value;
	var previousSolutionOutput = document.getElementById('media_{ID}');


	if (document.getElementById('question_{ID}').value == '\n' || document.getElementById('question_{ID}').value == '' || document.getElementById('question_{ID}').value == null) {
		//Something useful to do here?
	} else {
		//var base64ToBlob = atob(previousSolution.value);
		previousSolutionOutput.controls = true;
		//previousSolutionOutput.src = "data:audio/webm;base64," . base64ToBlob;
		
		var binary = convertDataURIToBinary(previousSolution);
		var blob = new Blob([binary], {type : 'audio/webm'});		
		var url = window.URL || window.webkitURL;
		previousSolutionOutput.src = url ? url.createObjectURL(blob) : blob;
		previousSolutionOutput.load();
	}
	showDuration_{ID}();
});

// Inspired https://addpipe.com/media-recorder-api-demo/

'use strict';

/* globals MediaRecorder */

// Spec is at http://dvcs.w3.org/hg/dap/raw-file/tip/media-stream-capture/RecordingProposal.html

var constraints = { audio: true }; 

var recBtn_{ID} = document.getElementById('rec_{ID}');	
var confirmBtn_{ID} = document.getElementById('confirm_{ID}');	
var pauseResBtn_{ID} = document.getElementById('pauseRes_{ID}');	
var stopBtn_{ID} = document.getElementById('stop_{ID}');	

//Creating a visual feedback, following https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Using_the_MediaStream_Recording_API
var canvas_{ID} = document.getElementById('visualizer_{ID}');
var audioCtx_{ID} = new (window.AudioContext || webkitAudioContext)();
var canvasCtx_{ID} = canvas_{ID}.getContext("2d");

var mediaElement_{ID} = document.getElementById('media_{ID}');	
var dataElement_{ID} = document.getElementById('data_{ID}');	
var downloadLink_{ID} = document.getElementById('downloadLink_{ID}');	

//Show the player while recording to present the current length of the recording
//mediaElement_{ID}.controls = false;

var mediaRecorder_{ID};
var chunks_{ID} = [];
var interval_{ID} = null;
var presavecounter_{ID} = 0;
var localstream_{ID} = null;

function presave_{ID}() {
	presavecounter_{ID}++;
	var blob_presave = new Blob(chunks_{ID}, {type: "audio/webm"});
	//var blob = new Blob(chunks_{ID}, {type: "video/webm"});

	//save input as base64-string 
	var answerAudio_presave = document.getElementById('question_{ID}');	
	var reader_presave = new window.FileReader();
	reader_presave.readAsBinaryString(blob_presave); 
	reader_presave.onloadend = function() {
	var base64_presave = reader_presave.result;
			answerAudio_presave.value = btoa(base64_presave);
	}
	
	//After 1 Minute increase the presave interval from 5 to 10 seconds
	if (presavecounter_{ID}  == 12) {
		clearInterval(interval_{ID});
		interval_{ID} = setInterval(presave_{ID}, 10000);
	}
	
	//After another 4 minutes, 5 minutes total, increase the presave interval from 10 to 20 seconds
	if (presavecounter_{ID}  == 24) {
		clearInterval(interval_{ID});
		interval_{ID} = setInterval(presave_{ID}, 20000);
	}	
}

function onBtnRecordClicked_{ID} (){
	document.getElementById("confirmation_{ID}").style.display = "none";
	console.log("initialize stream");
	if (!navigator.mediaDevices.getUserMedia){
		alert('navigator.mediaDevices.getUserMedia not supported on your browser, use the latest version of Firefox or Chrome');
	}else{
		if (window.MediaRecorder == undefined) {
				alert('MediaRecorder not supported on your browser, use the latest version of Firefox or Chrome');
		}else{
			recBtn_{ID}.disabled = true;
			confirmBtn_{ID}.disabled = true;
			pauseResBtn_{ID}.disabled = false;
			stopBtn_{ID}.disabled = false;
			
			navigator.mediaDevices.getUserMedia(constraints)
				.then(function(stream) {
					localstream_{ID} = stream;
					
					localstream_{ID}.getTracks().forEach(function(track) {
						if(track.kind == "audio"){
							track.onended = function(event){
								 console.log("audio track.onended Audio track.readyState="+track.readyState+", track.muted=" + track.muted);
							}
						}
						if(track.kind == "video"){
							track.onended = function(event){
								console.log("video track.onended Audio track.readyState="+track.readyState+", track.muted=" + track.muted);
							}
						}
					});
					
					mediaElement_{ID}.srcObject = localstream_{ID};
					startRecording_{ID}(stream);

				}).catch(function(err) {
					console.log('navigator.getUserMedia error: '+err);
				});			

			console.log("switch to recording");
		}
	}
}

function startRecording_{ID}(stream) {
	console.log('Start recording...');
	mediaRecorder_{ID} = new MediaRecorder(stream);

    visualize_{ID}(localstream_{ID});
	$('#visualizer_{ID}').show();
	
	
	pauseResBtn_{ID}.textContent = "{PAUSE}";

	mediaRecorder_{ID}.start(10);
	
	//since the stream started, we can start to save it
	interval_{ID} = setInterval(presave_{ID}, 5000);

	mediaElement_{ID}.srcObject =  localstream_{ID};
	mediaElement_{ID}.play();
	$("#media_{ID}").prop('muted', true);

	mediaRecorder_{ID}.ondataavailable = function(e) {
		//log('Data available...');
		//console.log(e.data);
		//console.log(e.data.type);
		//console.log(e);
		chunks_{ID}.push(e.data);
	};

	mediaRecorder_{ID}.onerror = function(e){
		console.log('Error: ' + e);
		console.log('Error: ', e);
	};


	mediaRecorder_{ID}.onstart = function(){
		console.log('Started & state = ' + mediaRecorder_{ID}.state);
	};

	mediaRecorder_{ID}.onstop = function(){
		console.log('Stopped  & state = ' + mediaRecorder_{ID}.state);

		var blob = new Blob(chunks_{ID}, {type: "audio/webm"});
		//var blob = new Blob(chunks_{ID}, {type: "video/webm"});
		chunks_{ID} = [];
			
		//save input as base64-string 
  		var answerAudio = document.getElementById('question_{ID}');	
		var reader = new window.FileReader();
		reader.readAsBinaryString(blob); 
		reader.onloadend = function() {
  			var base64 = reader.result;
   			answerAudio.value = btoa(base64);
		}

		var mediaURL = window.URL.createObjectURL(blob);

		downloadLink_{ID}.href = mediaURL;
		
		mediaElement_{ID}.srcObject = null;
		mediaElement_{ID}.src = mediaURL;
		downloadLink_{ID}.innerHTML = 'Download file';

		var rand =  Math.floor((Math.random() * 10000000));
		var name  = "media_"+rand+".webm" ;

		downloadLink_{ID}.setAttribute( "download", name);
		downloadLink_{ID}.setAttribute( "name", name);
	};

	mediaRecorder_{ID}.onpause = function(){
		console.log('Paused & state = ' + mediaRecorder_{ID}.state);
	}

	mediaRecorder_{ID}.onresume = function(){
		console.log('Resumed  & state = ' + mediaRecorder_{ID}.state);
	}

	mediaRecorder_{ID}.onwarning = function(e){
		console.log('Warning: ' + e);
	};
}

function onBtnStopClicked_{ID}(){
	clearInterval(interval_{ID});
	mediaRecorder_{ID}.stop();
	mediaElement_{ID}.controls = true;
	$("#media_{ID}").prop('muted', false);
	//$('#visualizer_{ID}').hide();

	recBtn_{ID}.disabled = false;
	confirmBtn_{ID}.disabled = false;
	pauseResBtn_{ID}.disabled = true;
	stopBtn_{ID}.disabled = true;
}

function onPauseResumeClicked_{ID}(){
	if(pauseResBtn_{ID}.textContent === "{PAUSE}"){
		console.log("pause");
		pauseResBtn_{ID}.textContent = "{RESUME}";
		mediaRecorder_{ID}.pause();
		stopBtn_{ID}.disabled = true;
	}else{
		console.log("resume");
		pauseResBtn_{ID}.textContent = "{PAUSE}";
		mediaRecorder_{ID}.resume();
		stopBtn_{ID}.disabled = false;
	}
	recBtn_{ID}.disabled = true;
	pauseResBtn_{ID}.disabled = false;
}


function log_{ID}(message){
	dataElement_{ID}.innerHTML = dataElement_{ID}.innerHTML+'<br>'+message ;
}



//browser ID
function getBrowser(){
	var nVer = navigator.appVersion;
	var nAgt = navigator.userAgent;
	var browserName  = navigator.appName;
	var fullVersion  = ''+parseFloat(navigator.appVersion);
	var majorVersion = parseInt(navigator.appVersion,10);
	var nameOffset,verOffset,ix;

	// In Opera, the true version is after "Opera" or after "Version"
	if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
	 browserName = "Opera";
	 fullVersion = nAgt.substring(verOffset+6);
	 if ((verOffset=nAgt.indexOf("Version"))!=-1)
	   fullVersion = nAgt.substring(verOffset+8);
	}
	// In MSIE, the true version is after "MSIE" in userAgent
	else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
	 browserName = "Microsoft Internet Explorer";
	 fullVersion = nAgt.substring(verOffset+5);
	}
	// In Chrome, the true version is after "Chrome"
	else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
	 browserName = "Chrome";
	 fullVersion = nAgt.substring(verOffset+7);
	}
	// In Safari, the true version is after "Safari" or after "Version"
	else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
	 browserName = "Safari";
	 fullVersion = nAgt.substring(verOffset+7);
	 if ((verOffset=nAgt.indexOf("Version"))!=-1)
	   fullVersion = nAgt.substring(verOffset+8);
	}
	// In Firefox, the true version is after "Firefox"
	else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
	 browserName = "Firefox";
	 fullVersion = nAgt.substring(verOffset+8);
	}
	// In most other browsers, "name/version" is at the end of userAgent
	else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) <
		   (verOffset=nAgt.lastIndexOf('/')) )
	{
	 browserName = nAgt.substring(nameOffset,verOffset);
	 fullVersion = nAgt.substring(verOffset+1);
	 if (browserName.toLowerCase()==browserName.toUpperCase()) {
	  browserName = navigator.appName;
	 }
	}
	// trim the fullVersion string at semicolon/space if present
	if ((ix=fullVersion.indexOf(";"))!=-1)
	   fullVersion=fullVersion.substring(0,ix);
	if ((ix=fullVersion.indexOf(" "))!=-1)
	   fullVersion=fullVersion.substring(0,ix);

	majorVersion = parseInt(''+fullVersion,10);
	if (isNaN(majorVersion)) {
	 fullVersion  = ''+parseFloat(navigator.appVersion);
	 majorVersion = parseInt(navigator.appVersion,10);
	}


	return browserName;
}

// function visualize taken from https://github.com/mdn/web-dictaphone
function visualize_{ID}(stream_{ID}) {
	  var source = audioCtx_{ID}.createMediaStreamSource(stream_{ID});

	  var analyser = audioCtx_{ID}.createAnalyser();
	  analyser.fftSize = 2048;
	  var bufferLength = analyser.frequencyBinCount;
	  var dataArray = new Uint8Array(bufferLength);

	  source.connect(analyser);
	  //analyser.connect(audioCtx_{ID}.destination);

	  draw_{ID}()

	  function draw_{ID}() {
	    var WIDTH = canvas_{ID}.width
	    var HEIGHT = canvas_{ID}.height;

	    canvasCtx_{ID}.clearRect(0, 0, WIDTH, HEIGHT);
	    
	    requestAnimationFrame(draw_{ID});

	    analyser.getByteTimeDomainData(dataArray);

	    var color = $('.ilc_question_Standard').css("background-color");
	    canvasCtx_{ID}.fillStyle = color;
	    canvasCtx_{ID}.fillRect(0, 0, WIDTH, HEIGHT);

	    canvasCtx_{ID}.lineWidth = 2;
	    canvasCtx_{ID}.strokeStyle = 'rgb(0, 0, 0)';

	    canvasCtx_{ID}.beginPath();

	    var sliceWidth = WIDTH * 1.0 / bufferLength;
	    var x = 0;


	    for(var i = 0; i < bufferLength; i++) {
	 
	      var v = dataArray[i] / 128.0;
	      var y = v * HEIGHT/2;

	      if(i === 0) {
	        canvasCtx_{ID}.moveTo(x, y);
	      } else {
	        canvasCtx_{ID}.lineTo(x, y);
	      }

	      x += sliceWidth;
	    }

	    canvasCtx_{ID}.lineTo(canvas_{ID}.width, canvas_{ID}.height/2);
	    canvasCtx_{ID}.stroke();

	  }
}

window.onresize = function() {
	  canvas_{ID}.width = mediaElement_{ID}.offsetWidth;
}

window.onresize();
</script>
<input type="hidden" id="question_{ID}" name="question_{ID}"  value='{SOLUTION}'/>