{QUESTIONTEXT}
<div id='results'></div>

<script>
// appends an audio element to playback and download recording
function createAudioElement(blobUrl) {
    const downloadEl = document.createElement('a');
    downloadEl.style = 'display: block';
    downloadEl.innerHTML = 'download';
    downloadEl.download = 'audio.webm';
    downloadEl.href = blobUrl;
    const audioEl = document.createElement('audio');
    audioEl.controls = true;
    const sourceEl = document.createElement('source');
    sourceEl.src = blobUrl;
    sourceEl.type = 'audio/webm';
    audioEl.appendChild(sourceEl);
    var resultEl = document.getElementById("results");    
    resultEl.appendChild(audioEl);
    //Unwanted for now, might be configurable in the future
    //resultEl.appendChild(downloadEl);
}

// request permission to access audio stream
navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
    // store streaming data chunks in array
    const chunks = [];
    // create media recorder instance to initialize recording
    const recorder = new MediaRecorder(stream);
    // function to be called when data is received
    recorder.ondataavailable = e => {
      // add stream data to chunks
      chunks.push(e.data);
      // if recorder is 'inactive' then recording has finished
      if (recorder.state == 'inactive') {
          // convert stream data chunks to a 'webm' audio format as a blob
          const blob = new Blob(chunks, { type: 'audio/webm' });
          // convert blob to URL so it can be assigned to a audio src attribute
  
          //save stuff as base64-string to be send to the server
  		var answerAudio = document.getElementById('question_{ID}_audio');	
		var reader = new window.FileReader();
		reader.readAsBinaryString(blob); 
		reader.onloadend = function() {
  			base64 = reader.result;
   			answerAudio.innerHTML = btoa(base64);
		}
          createAudioElement(URL.createObjectURL(blob));
      }
    };

    // start recording with 1 second time between receiving 'ondataavailable' events
    recorder.start(1000);
    // setTimeout to stop recording after 4 seconds
    setTimeout(() => {
        // this will trigger one final 'ondataavailable' event and set recorder state to 'inactive'
        recorder.stop();
    }, 4000);
    
  }).catch(console.error);

</script>

<button onclick="start()">Start</button>
<button onclick="stop()">Stop</button>



Record a 4 second sample audio, show it, download is and save it to the server.
<textarea id="question_{ID}_audio" name="question_{ID}_audio" cols="50" rows="10">{RESUME}</textarea>
